




<div class="center jumbotron">
<h1>Bem Vindos ao Pet Helper</h1>

  <h2>
    texto texto texto
    <a href="https://www.railstutorial.org/">teste</a>
    texto
  </h2>

 
</div>
<%= link_to image_tag("hqdefault.jpg", alt: "logo"),
            '#' %>
            
     <br>       







<!--paginas de fora-->


<%= link_to "Area administrativa", login_path, class: "btn btn-lg btn-primary" %>
<hr>
<%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
<hr>




<!--paginas de dentro-->

<%= link_to "Clique aqui para cadastrar novo funcionario", signup_path, class: "btn btn-lg btn-primary" %>


